/* DEFAULTS
----------------------------------------------------------*/

body
{
    background: #fbfdf6;
	font-family:"Myriad Pro", Myriad, Helvetica, Arial, sans-serif;
	font-size:90%;
    margin: 0px;
    padding: 0px;
    color: #522B27;
    width: 960px;
    background-color: #fff;
    margin: 20px auto 0px auto;
	line-height:1.4em;    
}

header, section, article, footer
{
    padding: 10px 20px 20px;
    margin: 10px;
    border-radius: 8px;
    border: 1px solid #e7e2d7;
    -webkit-border-radius: .8em;
    -moz-border-radius: .8em;
    background: #fff url(../Images/sprites.png) repeat-x 0px -120px;
}

header
{
    text-align: center;
    display: block;
    position: relative;
    padding: 10px 20px 0px 20px;
}

header a img 
{
	position:absolute;
	left:20px;
	top:18px;
    border: 1px solid #F6F5F1;
    border-radius: 8px;
    -webkit-border-radius: .8em;
    -moz-border-radius: .8em;
    
}


header section.loginDisplay
{
    border: 1px solid #F6F5F1;
    border-radius: 8px;
    -webkit-border-radius: .8em;
    -moz-border-radius: .8em;
    font-size: 1.1em;
    display: block;
    text-align: right;
    position: absolute;
    right: 20px;
    top: 18px;
    padding: 10px;
    background-color: transparent;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


.mainForm
{
    width:100%;    
}



/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 
{
	font-family:Helvetica, Arial, sans-serif;
	font-size:1.5em;
	letter-spacing:-0.06em;
	text-transform:uppercase;
	font-weight:normal;
}

header h1 {
	font-size:2.3em;
	text-transform:none;
	letter-spacing:0em;
	text-align:center;
}

header h2 {
	margin:-10px 0px 20px;
	font-size:1.3em;
	text-align:center;
}

article h1 {
	background:transparent url(../Images/sprites.png) no-repeat 0px 0px;
	color:#fff;
	padding:7px 10px 12px 30px;
	margin-left:-30px;
	text-shadow:0 1px 0 #403232;
}

article h2, article h3, article h4, article h5, article h6  {
	background:transparent url(../Images/sprites.png) no-repeat 0px -40px;
	color:#fff;
	padding:7px 10px 12px 30px;
	margin-left:-30px;
	text-shadow:0 1px 0 #913951;
}


/* TAB MENU   
----------------------------------------------------------*/

nav {
	text-align:center;
	display:block;
	width:100%
}

nav ul {
	padding:0px;
	list-style-type:none;
	display:inline;
	width:100%;
}

nav ul li
{
    margin: 0px 6px 0px 0px;
    padding: 0px;
    list-style-type: none;
    display: inline;
}

nav a:link, nav a:visited {
	font-size:1.4em;
	font-weight:normal;
}

nav.hideSkiplink
{
    background-color: #FEFCFD;
    width: 100%;
    text-align: center;
    width: 100%;
    text-align:center;
	display:block;
}

div.menu
{
    margin: 10px 0px 0px 0px;
    padding: 0px;
    text-align: center;
    width: 100%;
}


div.menu ul li a, div.menu ul li a:visited
{
    background-color: transparent;
    border: 1px solid #F4F3EE;
    color: #B76944;
    display: block;
    line-height: 1.35em;
    padding: 4px 10px 4px 0px;
    text-decoration: none;
    white-space: nowrap;
    font-weight: bold;
    font-family: 'Times New Roman' , Times, serif;
}

div.menu ul li a:hover
{
    background-color: #FBEAD1;
    color: #A83706;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #D1E10B;
    color: #711106;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.loginDisplay a:link
{
    background-color: transparent;
    color: #B76944;
    text-decoration: none;
}

.loginDisplay a:visited
{
    background-color: transparent;
    color: #B76944;
    text-decoration: none;
}

.loginDisplay a:hover
{
    background-color: transparent;
    color: #B76944;
    text-decoration: none;    
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}